In [1]:
import pandas as pd
import numpy as np
import nltk
#nltk.download('stopwords')
#nltk.download('wordnet')

In [2]:
#nltk.download('punkt')

In [3]:
#nltk.download('averaged_perceptron_tagger')

In [4]:
data1=pd.read_csv('C:/Users/dhirendra/Downloads/nlp hackathon/train_E52nqFa/train.csv')
data2=pd.read_csv('C:/Users/dhirendra/Downloads/nlp hackathon/train_E52nqFa/game_overview.csv')

In [5]:
data1.head()

,review_id,title,year,user_review,user_suggestion
0,1,Spooky's Jump Scare Mansion,2016.0,I'm scared and hearing creepy voices. So I'll...,1
1,2,Spooky's Jump Scare Mansion,2016.0,"Best game, more better than Sam Pepper's YouTu...",1
2,3,Spooky's Jump Scare Mansion,2016.0,"A littly iffy on the controls, but once you kn...",1
3,4,Spooky's Jump Scare Mansion,2015.0,"Great game, fun and colorful and all that.A si...",1
4,5,Spooky's Jump Scare Mansion,2015.0,Not many games have the cute tag right next to...,1

In [44]:
data2.head()

,title,developer,publisher,tags,overview
0,Spooky's Jump Scare Mansion,Lag Studios,Lag Studios,"['Horror', 'Free to Play', 'Cute', 'First-Pers...",Can you survive 1000 rooms of cute terror? Or ...
1,Sakura Clicker,Winged Cloud,Winged Cloud,"['Nudity', 'Anime', 'Free to Play', 'Mature', ...",The latest entry in the Sakura series is more ...
2,WARMODE,WARTEAM,WARTEAM,"['Early Access', 'Free to Play', 'FPS', 'Multi...",Free to play shooter about the confrontation o...
3,Fractured Space,Edge Case Games Ltd.,Edge Case Games Ltd.,"['Space', 'Multiplayer', 'Free to Play', 'PvP'...",Take the helm of a gigantic capital ship and g...
4,Counter-Strike: Global Offensive,"Valve, Hidden Path Entertainment",Valve,"['FPS', 'Multiplayer', 'Shooter', 'Action', 'T...",Counter-Strike: Global Offensive (CS: GO) expa...

In [7]:
data3=pd.merge(data1,data2)

In [8]:
data3.head()

,review_id,title,year,user_review,user_suggestion,developer,publisher,tags,overview
0,1,Spooky's Jump Scare Mansion,2016.0,I'm scared and hearing creepy voices. So I'll...,1,Lag Studios,Lag Studios,"['Horror', 'Free to Play', 'Cute', 'First-Pers...",Can you survive 1000 rooms of cute terror? Or ...
1,2,Spooky's Jump Scare Mansion,2016.0,"Best game, more better than Sam Pepper's YouTu...",1,Lag Studios,Lag Studios,"['Horror', 'Free to Play', 'Cute', 'First-Pers...",Can you survive 1000 rooms of cute terror? Or ...
2,3,Spooky's Jump Scare Mansion,2016.0,"A littly iffy on the controls, but once you kn...",1,Lag Studios,Lag Studios,"['Horror', 'Free to Play', 'Cute', 'First-Pers...",Can you survive 1000 rooms of cute terror? Or ...
3,4,Spooky's Jump Scare Mansion,2015.0,"Great game, fun and colorful and all that.A si...",1,Lag Studios,Lag Studios,"['Horror', 'Free to Play', 'Cute', 'First-Pers...",Can you survive 1000 rooms of cute terror? Or ...
4,5,Spooky's Jump Scare Mansion,2015.0,Not many games have the cute tag right next to...,1,Lag Studios,Lag Studios,"['Horror', 'Free to Play', 'Cute', 'First-Pers...",Can you survive 1000 rooms of cute terror? Or ...

In [9]:
text=pd.DataFrame(data3['user_review'])
target=pd.DataFrame(data3['user_suggestion'])
data4=pd.DataFrame(data3.drop(['user_review','user_suggestion'],axis=1))

In [10]:
import string
punctuations=string.punctuation

from nltk.corpus import stopwords
stopword_list=stopwords.words('english')

from nltk.stem.wordnet import WordNetLemmatizer
lem=WordNetLemmatizer()


def _clean(text):
    clean_text=text.lower()
    clean_text="".join(c for c in clean_text if c not in punctuations)
    words=clean_text.split()
    words=[w for w in words if w not in stopword_list]
    words=[lem.lemmatize(word,'v') for word in words]
    words=[lem.lemmatize(word,'n') for word in words]
    
    clean_text=" ".join(words)
    return clean_text

In [11]:
text.head()

                                         user_review
0  I'm scared and hearing creepy voices.  So I'll...
1  Best game, more better than Sam Pepper's YouTu...
2  A littly iffy on the controls, but once you kn...
3  Great game, fun and colorful and all that.A si...
4  Not many games have the cute tag right next to...

In [12]:
text['clean_user_review']=text['user_review'].apply(_clean)
text.head()

,user_review,clean_user_review
0,I'm scared and hearing creepy voices. So I'll...,im scar hear creepy voice ill pause moment wri...
1,"Best game, more better than Sam Pepper's YouTu...",best game better sam pepper youtube account 10...
2,"A littly iffy on the controls, but once you kn...",littly iffy control know play easy master ive ...
3,"Great game, fun and colorful and all that.A si...",great game fun colorful thata side note though...
4,Not many games have the cute tag right next to...,many game cute tag right next horror tag steam...

In [13]:
text['wordcount_user_review']=text['user_review'].apply(lambda x : len(x.split()))
text['wordcount_clean_user_review']=text['clean_user_review'].apply(lambda x : len(x.split()))

text['char_count']=text['user_review'].apply(lambda x : len(x))
text['char_count_withoutspace']=text['clean_user_review'].apply(lambda x :len(x.replace(' ','')))
text['num_digit']=text['user_review'].apply(lambda x: sum([1 if w.isdigit() else 0 for w in x.split()]))

In [14]:
pos_dic={'noun':['NNP','NN','NNS','NNPS'],'verb':['VBZ','VB','VBD','VBN','VBG']}

def pos_check(txt,family):
    tags=nltk.pos_tag(nltk.word_tokenize(txt))
    count= 0
    for tag in tags:
        tag=tag[1]
        if tag in pos_dic[family]:
            count+=1
    return count

text['noun_count']=text['user_review'].apply(lambda x : pos_check(x,'noun'))
text['verb_count']=text['user_review'].apply(lambda x : pos_check(x,'verb'))

In [15]:
text.head()

,user_review,clean_user_review,wordcount_user_review,wordcount_clean_user_review,char_count,char_count_withoutspace,num_digit,noun_count,verb_count
0,I'm scared and hearing creepy voices. So I'll...,im scar hear creepy voice ill pause moment wri...,132,72,710,363,0,28,23
1,"Best game, more better than Sam Pepper's YouTu...",best game better sam pepper youtube account 10...,44,29,335,223,0,16,7
2,"A littly iffy on the controls, but once you kn...",littly iffy control know play easy master ive ...,70,39,397,219,1,13,11
3,"Great game, fun and colorful and all that.A si...",great game fun colorful thata side note though...,47,27,280,145,0,11,8
4,Not many games have the cute tag right next to...,many game cute tag right next horror tag steam...,67,34,334,160,2,14,8

In [16]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer

In [17]:
cvz=CountVectorizer()
cvz.fit(text['clean_user_review'].values)
count_vector=cvz.transform(text['clean_user_review'].values)

In [18]:
word_tfidf=TfidfVectorizer()
word_tfidf.fit(text['clean_user_review'].values)
word_count_vector=word_tfidf.transform(text['clean_user_review'].values)

In [19]:
tfidf=dict(zip(word_tfidf.get_feature_names(),word_tfidf.idf_))
pd.DataFrame(columns=['word_tfidf']).from_dict(tfidf,orient="index")

                0
00       8.823760
000      7.879299
0000    10.076523
00000    9.671058
000001  10.076523
...           ...
혼자서     10.076523
황망한     10.076523
황무지     10.076523
ﾉಥдಥﾉ   10.076523
ﾌﾌ       8.977911

[78061 rows x 1 columns]

In [20]:
from scipy.sparse import hstack,csr_matrix

In [21]:
text.columns

Index(['user_review', 'clean_user_review', 'wordcount_user_review',
       'wordcount_clean_user_review', 'char_count', 'char_count_withoutspace',
       'num_digit', 'noun_count', 'verb_count'],
      dtype='object')

In [22]:
meta_features=['wordcount_user_review',
       'wordcount_clean_user_review', 'char_count', 'char_count_withoutspace',
       'num_digit', 'noun_count', 'verb_count']
feature_set1=text[meta_features]

train=hstack([word_count_vector,csr_matrix(feature_set1)],'csr')

In [23]:
train

<17494x78068 sparse matrix of type '<class 'numpy.float64'>'
	with 1080517 stored elements in Compressed Sparse Row format>

In [24]:
from sklearn.model_selection import train_test_split
train_x,valid_x,train_y,valid_y=train_test_split(train,target)
train_x.shape

(13120, 78068)

In [25]:
from sklearn import naive_bayes
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn import ensemble
from sklearn.metrics import accuracy_score

In [26]:
#model=naive_bayes.MultinomialNB()
#model.fit(train_x,train_y)
#preds=model.predict(valid_x)
#accuracy_score(preds,valid_y)

In [27]:
#model=LogisticRegression()
#model.fit(train_x,train_y)
#preds=model.predict(valid_x)
#accuracy_score(preds,valid_y)

In [28]:
#model=svm.SVC()
#model.fit(train_x,train_y)
#preds=model.predict(valid_x)
#accuracy_score(preds,valid_y)

In [29]:
model=ensemble.ExtraTreesClassifier()
model.fit(train_x,train_y)
preds=model.predict(valid_x)
accuracy_score(preds,valid_y)

C:\Users\dhirendra\anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.823045267489712

In [30]:
from sklearn.metrics import f1_score
f1_score(preds,valid_y,)

0.8551104455260201

In [31]:
test_data=pd.read_csv('C:/Users/dhirendra/Downloads/nlp hackathon/test_BppAoe0/test.csv')

In [32]:
test_data.head()

,review_id,title,year,user_review
0,1603,Counter-Strike: Global Offensive,2015.0,"Nice graphics, new maps, weapons and models. B..."
1,1604,Counter-Strike: Global Offensive,2018.0,I would not recommend getting into this at its...
2,1605,Counter-Strike: Global Offensive,2018.0,Edit 11/12/18I have tried playing CS:GO recent...
3,1606,Counter-Strike: Global Offensive,2015.0,The game is great. But the community is the wo...
4,1607,Counter-Strike: Global Offensive,2015.0,I thank TrulyRazor for buying this for me a lo...

In [33]:
test_user_review = pd.DataFrame(test_data['user_review'])
test_user_review.head()

                                         user_review
0  Nice graphics, new maps, weapons and models. B...
1  I would not recommend getting into this at its...
2  Edit 11/12/18I have tried playing CS:GO recent...
3  The game is great. But the community is the wo...
4  I thank TrulyRazor for buying this for me a lo...

In [34]:
test_user_review['clean_user_review']=test_user_review['user_review'].apply(_clean)
test_user_review.head()

,user_review,clean_user_review
0,"Nice graphics, new maps, weapons and models. B...",nice graphic new map weapon model developer li...
1,I would not recommend getting into this at its...,would recommend get current state csgo hit roc...
2,Edit 11/12/18I have tried playing CS:GO recent...,edit 111218i try play csgo recently dramatical...
3,The game is great. But the community is the wo...,game great community worstif youre match russi...
4,I thank TrulyRazor for buying this for me a lo...,thank trulyrazor buy long time ago insist woul...

In [35]:
test_user_review['wordcount_user_review']=test_user_review['user_review'].apply(lambda x : len(x.split()))
test_user_review['wordcount_clean_user_review']=test_user_review['clean_user_review'].apply(lambda x : len(x.split()))

test_user_review['char_count']=test_user_review['user_review'].apply(lambda x : len(x))
test_user_review['char_count_withoutspace']=test_user_review['clean_user_review'].apply(lambda x :len(x.replace(' ','')))
test_user_review['num_digit']=test_user_review['user_review'].apply(lambda x: sum([1 if w.isdigit() else 0 for w in x.split()]))

In [37]:
pos_dic={'noun':['NNP','NN','NNS','NNPS'],'verb':['VBZ','VB','VBD','VBN','VBG']}

def pos_check(txt,family):
    tags=nltk.pos_tag(nltk.word_tokenize(txt))
    count= 0
    for tag in tags:
        tag=tag[1]
        if tag in pos_dic[family]:
            count+=1
    return count

test_user_review['noun_count']=test_user_review['user_review'].apply(lambda x : pos_check(x,'noun'))
test_user_review['verb_count']=test_user_review['user_review'].apply(lambda x : pos_check(x,'verb'))

In [38]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer

cvz.fit(test_user_review['clean_user_review'].values)
test_count_vector=cvz.transform(test_user_review['clean_user_review'].values)

#word_tfidf.fit(test_user_review['clean_user_review'].values)
test_word_count_vector=word_tfidf.transform(test_user_review['clean_user_review'].values)

tfidf=dict(zip(word_tfidf.get_feature_names(),word_tfidf.idf_))
pd.DataFrame(columns=['word_tfidf']).from_dict(tfidf,orient="index")

                0
00       8.823760
000      7.879299
0000    10.076523
00000    9.671058
000001  10.076523
...           ...
혼자서     10.076523
황망한     10.076523
황무지     10.076523
ﾉಥдಥﾉ   10.076523
ﾌﾌ       8.977911

[78061 rows x 1 columns]

In [39]:
test_user_review.columns

Index(['user_review', 'clean_user_review', 'wordcount_user_review',
       'wordcount_clean_user_review', 'char_count', 'char_count_withoutspace',
       'num_digit', 'noun_count', 'verb_count'],
      dtype='object')

In [40]:
meta_features=['wordcount_user_review',
       'wordcount_clean_user_review', 'char_count', 'char_count_withoutspace',
       'num_digit', 'noun_count', 'verb_count']
feature_set1=test_user_review[meta_features]

test=hstack([test_word_count_vector,csr_matrix(feature_set1)],'csr')

In [41]:
preds_test=model.predict(test)

In [43]:
submission_nlp = pd.DataFrame({'review_id':test_data.iloc[:,0], 'user_suggestion':preds_test})
submission_nlp.to_csv('NLP_HACKATHON 2.csv', index=False)